.service-section {
    padding: 80px 0;
}

.service-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-btn-wrapper .service-btn {
    font-size: 15px;
    font-weight: 400;
    background: #c5a47e;
    color: #fff;
    padding: 10px 30px;
    margin: 0;
    position: relative;
    border-radius: 50px;
    transition: .3s;
    border: 1px solid #c5a47e;
}

.service-btn-wrapper .service-btn:hover {
    background-color: transparent;
    color: #c5a47e;
    border: 1px solid #c5a47e;
}